<%= form_with(model: document, class: 'contents') do |form| %>
  <div class="my-5">
    <%= form.label :file %>
    <%= form.file_field :file, class: ['block shadow-sm rounded-md border px-3 py-2 mt-2 w-full', { 'border-gray-400 focus:outline-blue-600': document.errors[:file].none?, 'border-red-400 focus:outline-red-600': document.errors[:file].any? }] %>
  </div>

  <div class="inline">
    <%= form.submit 'Upload', class: 'w-full sm:w-auto rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer' %>
  </div>
<% end %>
