<% content_for :title, 'Showing address' %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Showing address</h1>

  <%= render @address %>

  <%= link_to 'Edit this address', edit_address_path(@address), class: 'w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium' %>
  <%= link_to 'Back to addresses', addresses_path, class: 'w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium' %>
  <%= button_to 'Destroy this address', @address, method: :delete, form_class: 'sm:inline-block mt-2 sm:mt-0 sm:ml-2', class: "w-full rounded-md px-3.5 py-2.5 text-white #{@address.users.empty? ? 'bg-red-600 hover:bg-red-500 cursor-pointer' : 'bg-gray-400'}", data: { turbo_confirm: 'Are you sure?' }, disabled: (!@address.users.empty?).to_s, title: "I'm a tooltip" %>
</div>
