<% content_for :title, 'Posts' %>

<div id='posts-list' class="flex flex-col w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Posts</h1>
    <%= link_to 'New post', new_post_path, class: 'rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium' %>
  </div>

  <div id="posts" class="w-full divide-y divide-gray-200 space-y-5 flex flex-col justify-center items-center">
    <% if @posts.any? %>
      <%= render partial: 'post', collection: @posts %>
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    <% else %>
      <p class="text-center my-10">No posts found.</p>
    <% end %>
  </div>
</div>
