<nav class="sticky top-0 z-50 border border-slate-400 bg-white">
  <div class="mx-auto h-16 flex justify-between items-center pl-4">
    <ul class="flex space-x-4">
      <li>
        <a href="/" class="text-slate-800 hover:text-slate-600">Home</a>
      </li>
      <li>
        <a href="/sign_in" class="text-slate-800 hover:text-slate-600">Login</a>
      </li>
    </ul>
    <ul class="flex space-x-4 pr-4">
      <li>
        <a href="/sign_up" class="text-slate-800 hover:text-slate-600">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
