<nav class="sticky top-0 z-50 border border-slate-400 bg-white">
  <div class="mx-auto h-16 flex justify-between items-center pl-4">
    <ul class="flex space-x-4">
      <%- if current_user %>
        <li>
          <span class="text-slate-800 font-bold"><%= current_user&.address&.address %></span>
        </li>
      <% end %>
      <li>
        <a href="/" class="text-slate-800 hover:text-slate-600">
          <%= ENV['HOA_TITLE'] || 'HOA' %> Home
        </a>
      </li>
      <%- if current_user&.admin? %>
        <li>
          <a href="/addresses" class="text-slate-800 hover:text-slate-600">Addresses</a>
        </li>
        <li>
          <a href="/users" class="text-slate-800 hover:text-slate-600">Users</a>
        </li>
      <% end %>
    </ul>
    <ul class="flex space-x-4 pr-4">
      <%- if !current_user %>
        <li>
          <a href="/auth/sign_in" class="text-slate-800 hover:text-slate-600">Login</a>
        </li>
        <li>
          <a href="/auth/sign_up" class="text-slate-800 hover:text-slate-600">Sign Up</a>
        </li>
      <% else %>
        <li>
          <a href="/auth/edit" class="text-slate-800 hover:text-slate-600">Edit Profile</a>
        </li>
        <li>
          <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'button cursor-pointer' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
